<!-- here is the markup for the search box -->

<!-- <div class='searchcontainer'>
	<h3>Search for a wifi location near you</h3>
	    <input type="search" name="location-search" id="location-input" oninput="autoComplete()" class="form-control" value="" required="required" title="Find Places">
	    <h4>Radius</h4>
	    <input type="number" name="location-radius" id="inputLocation-Radius" class="form-control" value="" min="2" max="" step="1" required="required" title="">
	    <button type="button" class="btn btn-default" onclick="codeAddress()">Search</button>
	    <h4><%= link_to 'New Venue', new_venue_path %></h4>
</div>
 -->

<%= form_tag venues_path, :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search], class:"form-control", oninput:"autoComplete2()" %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<script>
 function codeAddress() {
    // var geocoder
    // geocoder = new google.maps.Geocoder();
    console.log(handler);
    // handler = Gmaps.build('Google');
    var address = document.getElementById('search').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        console.log(results);
        handler.getMap().setCenter(results[0].geometry.location);
        // var marker = new google.maps.Marker({
        //     map: handler.getMap(),
        //     position: results[0].geometry.location
        // });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  function autoComplete2(){
    var query = document.getElementById('search').value;
    geocoder.geocode({'address': query}, function(results, status){
      if (status == google.maps.GeocoderStatus.OK){
        choices = [];
        for (var i = results.length - 1; i >= 0; i--) {
          choices.push(results[i].formatted_address);
        };
        console.log(choices);
        trial = ["one","two","three"];
        console.log(trial);
        // completebox = document.getElementById("location-input");
        completebox = $('#search');
        // completebox.autocomplete("enable");
        completebox.autocomplete({source: choices});
        console.log('choices');      
        // completebox.autocomplete({source: trial});
      }
    })

  }

 </script>