// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gmap {
	min-width: 600px;
	min-height: 800px
}

#gmapuniq {

	font-family: sans-serif;
	min-height: 1000px;
	
}

.resultcontainer {
	
	max-height: 800px;
	// max-height: 100%;
	overflow-y: scroll;
}

.app-icon {
	float: right;
	padding: 15px;
	top: 1em;
	transform: scale(1.6);
}


.venue-header {

	float: left;
	padding-left: 1;
}

.contentcontainer{
	width:97%;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;


}

.searchbox {

	padding: 15px;
}

.result {

}